.quiz{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    max-width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;

}

.article{
    max-width: 100%;
}


.react-quiz-container{
    /* width: 100%; */
}