.quiz{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.react-quiz-container{
    /* width: 100%; */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .contact-info {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
  }
  
  .contact-detail {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    .title {
      font-size: 20px;
    }
  
    .contact-info {
      padding: 10px;
    }
  
    .contact-detail {
      font-size: 16px;
    }
  }